<ion-tabs class="tabs">
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" class="bg-black">
      <ion-icon name="home"></ion-icon>
      <ion-label class="text-sm">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="favourites" class="bg-black">
      <ion-icon name="heart"></ion-icon>
      <ion-label class="text-sm">Favourites</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="search" class="bg-black">
      <ion-icon name="search"></ion-icon>
      <ion-label class="text-sm">Search</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="my-pics" class="bg-black">
      <ion-icon name="images"></ion-icon>
      <ion-label class="text-sm">My Pics</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
